.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 4rem;
}

.app-container .app {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

